<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <p>Pig Latinizer!</p>
    <form action="/" method="POST">Enter your phrase:
      <p>user_phrase<input type="text" name="text"></p>
      <input type="submit" name="Submit">
    </form>
  </body>
</html>
